/.plastic
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/ignore.conf
/Library
/Logs
/Packages
/Song of the Stars, Night Assassin.slnx
/Temp
*.glb
*.meta
*.prefab
*.unity
*.asset
*.dwlt
*.txt
*.png
*.jpg
UserSettings/Layouts/default-6000.dwlt
